<!DOCTYPE html>
<html lang="en">

<head>
    <!-- METADATA -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo sm red.ico">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/bd84408e24.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/android-icon-48x48.png" type="image/x-icon">

    <!-- CSS & JS Files -->
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
    <title>SoloLenceria.com</title>
</head>

<body >
    <div class="container" id="container"> <!-- Contenedor grid -->
    <!-- Botonera del header con FLEX y FIXED POSITION dentro del Grid, use DIV por que no entendí como hacerlo con Listas :( -->
            <div class="encabezado">
              <div class="boton" > 
                <div class="home">   
                  <a href="index.html">
                    <img src="img/Logo xl red.png" alt=""> <span> SoloLenceria</span>
                  </a>
                </div>
              </div>

              <div class="boton  dropdown">
                <button class="dropbtn">Catalogo
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">CARGAR MARCAS</a>
                </div>
              </div>

              <div class="boton">
                <a href="empresa.html">Empresa</a>
              </div>  
              <div class="boton">
                <a href="contacto.html">Contacto</a>
              </div>
                    <!-- <div class="home">SoloLenceria.com</div> -->
            </div>
       

        <!-- GALERIA - Contenido de la seccion de la izquierda -->
        <div class="item izquierda" id="izquierda">
          <div class="Logo-marca"></div>            
          <div class="galeria"></div>
        </div>

        <!-- Contenido principal -->
        <div class="item principal" id="principal">
            <!-- <b>Contenido principal</b><br> -->
            <div class="detalleProducto">
                <img style="height: 150px;"  src="img/Logo xl red.png" id="imagenCentral" alt="Detalle" >
                <span class="pasoIzquierda" onclick="cambioDeImagen(-1);"><</span>
                <span class="pasoDerecha"  onclick="cambioDeImagen(1);">></span>
            </div>
        </div>

        <!-- CANASTA DE COMPRAS - Contenido del panel de la derecha -->
        <div class="item derecha">
          <div id="canasta" class="canasta">
            <fieldset>
              <legend>Descripción del Producto</legend>
              <br>

              <label> Marca: </label> <input type="text"   id="JSVUElinkMarca" size="8"><br>
              <label>Foto id:</label> <input type="number" id="JSVUElinkId"    size="3"><br>
              <label class="dataOpcional">Modelo: </label> <input type="text"  class="dataOpcional" id="idModeloProd"   size="9"><br>
              <label for="talle" class="dataOpcional">talle:</label>
                <select name="talle" id="selectTalle" class="dataOpcional">
                </select><br>
                
              <label for="color" class="dataOpcional">color</label>
                <select name="color" id="selectColor" class="dataOpcional">
                </select><br><br>

            </fieldset>

            <!-- <div v-for="data in $options.myJson">{{data}}</div> -->
           
            <!-- <input type="text" v-model="nuevoProducto" @keydown.Enter="agregarProductoConIf()">
            <button v-on:click=agregarProductoConIf()>Agregar</button>
            <span v-show="aviso" style="color:red;">Falta producto!</span>
            <ul>
                <li v-for="producto in productos"> 
                     {{ producto.nombre }} - <input type="number" v-model.number="producto.cantidad">                     {{ producto.nombre }} - {{ producto.cantidad }}
                    <button @click=producto.cantidad++ >+</button>
                    <button @click=producto.cantidad-- >-</button>
                </li>
            </ul>
            <h4>Total: {{sumarProductos}}</h4> -->
        </div>
      </div>

        
      <!-- Contenido del panel del footer -->
      <div class="item pie">
          <b>Grupo 3: Gustavo Morande - Esteban Medrano - Diego Waicman </b> 

      </div>

    </div>

    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue.js"></script> -->
</body>

</html>